@import './Images.scss'; 


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.container{
   position: relative;
  /*  display: flex; 
   justify-content: center;*/
}

.row{
    display: flex;
    div{
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .fit{
        width: auto;
    }
}

.col{

}

.heading-section{
    width: 100%;
}

.content-centered{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-section{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 80%;
    position: absolute;
    margin-left: 15px;
    padding: 20px;
    
    @media screen and (max-width: 660px) {
        top: 310px;
      }

      @media screen and (min-width: 660px) {
        top: 380px;
      }
}

.footer-section{
    position: relative;
    width: 80%;
  }

.content{
    padding-bottom: 1rem;
    width: 85%;
   
    h3{
        margin-bottom: 0px;
        margin-top: 20px;;
    }
    h4{
        padding: 0px;
        margin: 0px;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
    }

    ul{
        li{
            padding-bottom: 0.6rem;
            list-style-type: circle;
        }
    }

    p{
        margin-top: 0.5rem;
    }

    a{
        color: blue;
        font-size: 15px;
        &:hover{
           text-decoration: none;
        }
    }

    a:visited {
        color: blue;
    }
}

.img-box{
    padding-right: 0.5rem;

    img{
        border-radius: 4px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }