@import './Images.scss'; 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.container{
   position: relative;
  /*  display: flex; 
   justify-content: center;*/
}

img{
  border-radius: 5px;
 }

.row{
    display: flex;
    div{
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .fit{
        width: auto;
    }
}

.col{

}

.heading-section{
    width: 100%;
}

.content-centered{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-section{

    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 80%;
    position: absolute;    
    padding-right: 0px;
    @media screen and (max-width: 660px) {
        top: 310px;
      }

      @media screen and (min-width: 660px) {
        top: 380px;
      }
}

.footer-section{
  padding-top: 30px;
    position: relative;
  }

.img-box{
    padding-right: 0.5rem;

    img{
        border-radius: 4px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
