.single-column-content{
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    h2{
        font-size: 1.8rem;
        text-transform: capitalize;
    }
    h2,h3,h4,h5{
        padding:0px;
        margin:0px;
      }
    .content{
        padding-bottom: 1rem;
        width: 90%;
       padding-left: 25px;
        h3{
            margin-bottom: 0px;
            margin-top: 20px;;
        }
        h4{
            padding: 0px;
            margin: 0px;
            margin-bottom: 0.5rem;
            text-transform: capitalize;
        }
    
        ul{
            li{
                padding: 0;
                margin: 0;
                list-style-type: circle;
            }
        }
        ol{
            li{
                padding: 0;
                margin: 0;
            }
        }
        ol > li::marker {
            font-weight: bold;
            font-size: 1rem;
          }
        p{
            margin-top: 0.5rem;
        }
    
        a{
            color: blue;
            font-size: 15px;
            &:hover{
               text-decoration: none;
            }
        }
    
        a:visited {
            color: blue;
        }
    }

    .author{
        font-family:'Courier New', Courier, monospace;
        padding-bottom: 10px;
        padding-left: 5px;
    }
}