.hero{
    border: 0;
    height: 90vh;
    padding: 0;
/*     overflow: hidden;
    position: relative; */
    max-height: 1000px;
    align-items: baseline;
    background-size: cover;
    background-position: center center;
   
    padding-left: 2rem;
    width: 100%;
        h1{
            width: 95%;
            padding-top: 1.5rem;
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 3rem;
            letter-spacing: 4px;
            margin-bottom: 0px;
        }
        .title{
            text-align: center;
            color: white;
            font-weight: bold;
           

            @media screen and (max-width: 800px) {
                font-size: 2rem;
              }
            
               @media screen and (min-width: 801px) {
                font-size: 3rem;
              }
        }
        .sub-title{
            text-align: center;
            color: white;
            font-weight: 400;
           
            padding-top: 1rem;

            @media screen and (max-width: 800px) {
                font-size: 2rem;
              }
            
               @media screen and (min-width: 801px) {
                font-size: 3rem;
              }
        }

        @media screen and (max-width: 1000px) {
          padding-top: 1rem;
          &_signup-container{
            width: 100%;
            display: flex;
            justify-content: center;
            &_form{
              width: 70%;
              span{
                color: #ffffff;
              }
            }
          }
        }
      
         @media screen and (min-width: 1001px) {
          padding-top: 4.5rem;
          &_signup-container{
            width: 100%;
            display: flex;
            justify-content: center;
            &_form{
              width: 35%;
              span{
                color: #ffffff;
              }
            }
          }
        }

        
  
}