.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    z-index: 500;
    ul {
        list-style-type: none;
        display: inline-block;
        width: 100%;
        padding-top: 1rem;

        li:first-child{
            padding-right: 5rem;
        }

        li 
        {
            display: inline;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
            
            svg {
                margin-right: 6px;
                vertical-align: text-bottom;
            }
    
            a {
                color: rgb(253, 253, 253);
                text-decoration: none;
                text-transform: uppercase;
                
                &:hover{
                    opacity: 50%;
                }
            }

          
        }
    }
    .social-link{
        padding-left: 1rem;
        padding-right: 1rem;
        @media screen and (max-width: 800px) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
          }
    }

}

.nav-bg-color{
    background-color: rgb(51, 51, 51);
    opacity: 75%;
}
#nav-desktop{
    @media screen and (max-width: 660px) {
        display: none;
      }
      @media screen and (max-width: 700px) {
        justify-content: left;
      }
}


.navbar-footer{
    text-align: center;
    font-size: 13px;
    ul{
        list-style-type: none;
        display: inline-block;

        li{
            display: inline;
          
            .separator{
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
            a {
                color: rgb(6, 3, 168);
                text-decoration: none;
                text-transform: uppercase;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

#nav-mobile{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 500;
    
    ul {
      padding-top: 0px;

        list-style-type: none;
        display: inline-block;
        width: 100%;
        text-align: center;
        
        li 
        {
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
           
            
            display: inline;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
            
            svg {
                vertical-align: text-bottom;
            }
           
            a {
                margin-right: 0.5rem;
                color: rgb(61, 59, 59);
                text-decoration: none;
                text-transform: uppercase;
               &:hover{
                color: rgb(13, 47, 238);
               }
            }
    }


}
@media screen and (min-width: 660px) {
    display: none;
  }
}