.page-title{
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;

    h2{
        font-size: 1.8rem;
        text-transform: capitalize;
    }

    .author{
        font-family:'Courier New', Courier, monospace;
        padding-bottom: 10px;
        padding-left: 5px;
    }
}