.blogs-listing{
    width: 85%;
    padding-left: 30px;
    .list-heading{
        color: rgb(5, 5, 160);
        font-size: 1.4rem;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 40px;
        text-transform: capitalize;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    ul{
        
        padding: 0px;
        margin: 0px;

        li{
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            div{
                padding: 0px;
                margin: 0px;
            }

            .row{
                padding-bottom: 1rem;
            }

            img{
                width: 100px;
                border-radius: 5px;
                margin-right: 1rem;
            }

            a{
                text-decoration: none;
                color: rgb(7, 68, 111);   
            }

            h4{
               padding: 0px;
               margin: 0px;  
               padding-top: 0rem;   
               padding-bottom: 0.5rem;
               text-transform: capitalize;
            }

        };
    }

    .blurb
    {
      font-size: 13px;
      width: 100%;    
    }
}